  /* Base styling */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 0px 10px 0px #00ff99;
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .container:hover {
    transform: translateY(-10px);
    opacity: 0.9;
  }

  /* Logo styling */
  .logo {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
    animation: coolLogo 2s ease infinite alternate;
    border-radius: 50%;
  }

  @keyframes coolLogo {
    0% {
      transform: scale(1);
      box-shadow: 0 0 20px #00ff99, 0 0 40px #00ff99, 0 0 60px #00ff99;
    }

    100% {
      transform: scale(1.05);
      box-shadow: 0 0 20px #00ff99, 0 0 60px #00ff99, 0 0 100px #00ff99;
    }
  }

  /* Title styling */
  .app-title,
  .page-title {
    color: #00ff99;
    font-size: 24px;
    margin-top: 10px;
    animation: heartbeat 1.5s infinite;
  }

  @keyframes heartbeat {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.05);
    }
  }

  /* Button styling */
  .animated-btn {
    background-color: #00ff99;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .animated-btn:hover {
    background-color: #00cc77;
    transform: scale(1.05);
  }

  /* Input field styling */
  .input-field,
  .select-field {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  }

  .input-field::placeholder {
    color: #ccc;
  }

  .input-field:focus {
    outline: none;
    box-shadow: 0px 0px 5px #00ff99;
  }

  /* Confidence scale styling */
  #confidence {
    width: 80%;
    margin: 10px;
    background-color: black;
    color: #00ff99;
  }

  .confidence-value {
    font-size: 20px;
    color: #00ff99;
    text-shadow: 0px 0px 10px #00ff99;
  }

  /* Debt and savings input styling */
  .debt-input input[type="number"],
  .savings-input input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #00ff99;
    border-radius: 5px;
    background-color: black;
    color: white;
  }

  /* Label styling */
  label {
    font-size: 18px;
    color: #00ff99;
    margin-top: 10px;
    text-shadow: 0px 0px 10px #00ff99;
  }

  /* Select field styling */
  select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #00ff99;
    min-height: 200px;
    text-shadow: 0px 0px 10px #00ff99;
  }

  .dashboard-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .dashboard-item {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00ff99;
    position: relative;
    transition: box-shadow 0.3s ease;
    text-align: center;
  }

  .dashboard-item:hover {
    box-shadow: 0px 0px 20px 5px #00ff99;
  }

  .dashboard-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #00ff99;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .dashboard-item:hover::after {
    opacity: 1;
  }

  .dashboard-item-title {
    color: #00ff99;
    font-size: 20px;
    margin: 10px 0;
  }

  .dashboard-item-description {
    color: white;
    font-size: 14px;
    margin: 10px 0;
  }

  .dashboard-item-button {
    background-color: #00ff99;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    text-decoration: none;
  }

  .dashboard-item-button:hover {
    background-color: #00cc77;
    transform: scale(1.05);
  }

  /* Style for goal labels */
  .goal-options label {
    display: block;
    font-size: 18px;
    color: #00ff99;
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 0px 0px 10px #00ff99;
  }

  .goal-info h2 {
    color: #00ff99;
  }

  #goalSummary {
    display: none;
  }

  .user-profile {
    text-align: center;
    margin-bottom: 20px;
  }

  .user-profile img {
    width: 100px;
    /* Adjust the width as needed */
    height: 100px;
    /* Adjust the height as needed */
    border-radius: 50%;
    /* Make the picture circular */
  }

  /* Base styling */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  /* Page title */
  .page-title {
    color: #00ff99;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
  }

  /* User profile picture */
  .user-profile {
    text-align: center;
    margin-bottom: 20px;
  }

  .profile-picture img {
    height: 200px !important;
    width: auto;
    /* Adjust the width as needed */
    border-radius: 50%;
    /* Make the picture circular */
  }

  /* Profile Dashboard */
  .profile-dashboard {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 0px 10px 0px #00ff99;
  }

  .profile-info {
    width: 70%;
    text-align: left;
  }

  .profile-name {
    color: #00ff99;
    font-size: 24px;
    margin: 10px 0;
  }

  .user-stats p {
    color: white;
    font-size: 16px;
    margin: 5px 0;
  }

  .user-stats p img {
    width: 20px;
    /* Adjust the width as needed */
    height: 20px;
    /* Adjust the height as needed */
    margin-left: 5px;
  }

  .profile-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .profile-buttons a {
    background-color: black;
    color: #00ff99;
    border: 2px solid #00ff99;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .profile-buttons a:hover {
    background-color: #00cc77;
    border-color: #00cc77;
  }

  .profile-picture {
    width: 30%;
    /* Adjust the width as needed */
    text-align: right;
  }

  .profile-picture img {
    width: 100%;
    /* Ensure the image takes up the entire container */
    border-radius: 10px;
    /* Add a border radius for a circular effect */
  }

  /* Accounts Dashboard - Half Height with Font Adjustments */
  .accounts-dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5px;
    /* Reduce the vertical padding to cut the height in half */
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2.5px;
    margin: 5px 0;
    box-shadow: 0px 0px 10px 0px #00ff99;
  }

  .savings-dropdown select {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #00ff99;
    text-shadow: 0px 0px 10px #00ff99;
    margin-bottom: 10px;
  }

  .account-balance {
    color: #00ff99;
    font-size: 12px;
    /* Reduce font size */
  }

  .account-chart table {
    width: 100%;
  }

  .account-chart th,
  .account-chart td {
    color: white;
    padding: 5px 10px;
  }

  .account-chart th {
    border-bottom: 1px solid #00ff99;
  }

  .account-chart tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* My Goals Section */
  .my-goals {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 0px 10px 0px #00ff99;
    display: flex;
    flex-direction: row;
    /* Display containers side by side */
    justify-content: space-between;
    /* Add space between containers */
  }

  .my-goals h2 {
    color: #00ff99;
    font-size: 24px;
    margin: 10px 0;
  }

  .goal-container {
    color: white;
    font-size: 16px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    /* Set a width for each container */
  }

  .goal-container p {
    width: 70%;
  }

  .goal-container .progress-circle {
    width: 40px;
    height: 40px;
    border: 2px solid #00ff99;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ff99;
    text-shadow: 0px 0px 10px #00ff99;
 
  }

  .seventy-three {
    background: linear-gradient(to right, green, green 73%, transparent 73%, transparent);
  }

  .twenty-one {
    background: linear-gradient(to right, green, green 21%, transparent 21%, transparent);
  }

  .five {
    background: linear-gradient(to right, green, green 5%, transparent 5%, transparent);
  }

  /* General Button Styles */
  a.dashboard-item-button {
    background-color: #00ff99;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin: 10px auto;
  }

  a.dashboard-item-button:hover {
    background-color: #00cc77;
    transform: scale(1.05);
  }

  /* Level and Rank Buttons */
  .level-button,
  .rank-button {
    background-color: rgba(0, 0, 0, 0.6);
    color: #00ff99;
    border: 2px solid #00ff99;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    width: 45%;
    text-align: center;
    z-index: 1;
  }

  .level-button:hover,
  .rank-button:hover {
    background-color: #00ff99;
    color: black;
    z-index: 1;
  }

  /* My Goals Section */
  .my-goals {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 0px 10px 0px #00ff99;
    display: flex;
    flex-direction: row;
    /* Display containers vertically */
    align-items: center;
    /* Center content horizontally */
    width: 100%;
    /* Take the full width */
    text-align: center;
    /* Center the text */
  }

  .my-goals h2 {
    color: #00ff99;
    font-size: 24px;
    margin: 10px 0;
  }

  .goal-containers {
    display: flex;
    flex-direction: row;
    /* Display containers side by side */
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    /* Allow containers to wrap when the screen is narrow */
  }

  .goal-container {
    color: white;
    font-size: 16px;
    /* Increase font size for better readability */
    display: flex;
    flex-direction: row;
    /* Display content vertically */
    align-items: center;
    /* Center content horizontally */
    width: 30%;
    /* Set a width for each container */
    border: 2px solid #00ff99;
    /* Add a green border */
    border-radius: 10px;
    /* Add border radius */
    padding: 10px;
    /* Add padding */
    text-align: center;
    /* Center the text */
    margin: 10px;
    /* Add margin for spacing */
  }

  .goal-container p {
    width: 100%;
    /* Take the full width */
    margin: 10px 0;
  }

  .progress-bar-container {
    display: flex;
    flex-direction: row;
    /* Display progress bars side by side */
    justify-content: space-between;
    /* Distribute progress bars in a row */
    width: 100%;
  }

  .progress-circle {
    width: 40px;
    height: 40px;
    border: 2px solid #00ff99;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ff99;
    text-shadow: 0px 0px 10px #00ff99;
    margin: 10px 0;
    /* Add margin for spacing */
  }

  /* Add this CSS to your stylesheet */



  /* Hover styles for links */
  .bottom-navigation li a:hover {
    text-decoration: underline;
  }

  /* Additional styles for User Profile Visualization */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #00ff99;
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-top: 20px;
  }

  .container:hover {
    transform: translateY(-10px);
    opacity: 0.9;
  }

  /* Additional styles for section headers */
  .container h2 {
    color: #00ff99;
    font-size: 24px;
    margin-top: 20px;
  }

  /* Additional styles for progress bars */
  .progress-bar {
    width: 100%;
    background-color: black;
    border: 2px solid #00ff99;
    border-radius: 10px;
    height: 20px;
    margin-top: 5px;
  }

  .progress-fill {
    width: 0;
    background-color: #00ff99;
    height: 100%;
    border-radius: 8px;
  }

  /* Additional styles for text and data */
  .container p {
    color: white;
    font-size: 16px;
    margin: 10px 0;
  }

  /* Additional styles for edit/add links */
  .edit-add {
    color: #00ff99;
    text-decoration: underline;
    cursor: pointer;
  }

  /* Additional styles for short-term text */
  .short-term {
    color: #ff9900;
  }

  /* Additional styles for Recent Accounts section */
  .recent-accounts p {
    display: inline;
    margin-right: 10px;
  }

  .account-amount {
    color: #33cc33;
  }

  .account-change {
    color: #ff0000;
  }

  /* Additional styles for Next Activity section */
  .next-activity p {
    display: inline;
  }

.progress-bar {
  width: 100%;
  background-color: #ccc; /* Set the background color for the empty part */
  height: 20px; /* Adjust the height as needed */
}

.progress-fill {
  background-color: #00ff99; /* Set the fill color */
  height: 100%; /* Should match the height of the progress bar */
}

  /* Add these styles to your existing CSS for other elements */
  /* Additional styles for User Profile Visualization */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #00ff99;
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-top: 20px;
  }

  .container:hover {
    transform: translateY(-10px);
    opacity: 0.9;
  }

  /* Styles for section boxes */
  .section-box {
    border: 2px solid #00ff99;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  /* Additional styles for User Profile Visualization */
  /* ... (Previous CSS) ... */

  /* Styles for section headers and buttons */
  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section-header h2 {
    color: #00ff99;
    font-size: 24px;
    margin-top: 20px;
  }

  /* Styles for edit and add buttons */
  .section-buttons {
    display: flex;
    align-items: center;
  }

  .section-buttons button {
    background-color: #00ff99;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }

  /* Additional styles for progress bars */
  .progress-bar {
    width: 100%;
    background-color: black;
    border: 2px solid #00ff99;
    border-radius: 10px;
    height: 20px;
    margin-top: 5px;
  }

  .progress-fill {
    width: 0;
    background-color: #00ff99;
    height: 100%;
    border-radius: 8px;
  }

  .button {
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #00ff00, transparent);
    border-image-slice: 1;
    transition: border-color 0.3s;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
  }

  .button:hover {
    border-color: transparent;
  }

  /* Additional styles for edit and add buttons */
  .edit-add-button {
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #00ff00, transparent);
    border-image-slice: 1;
    transition: border-color 0.3s;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    /* Add margin to separate the buttons */
  }

  .edit-add-button:hover {
    border-color: transparent;
  }

  /* Style for the account boxes */
  .account-box {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 3px solid #00ff99;
    /* Add a green border to each account box */
  }

  /* Style for the green borders between account boxes */
  .account-box+.account-box {
    border-top: none;
  }

  .account-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .account-data p {
    flex: 1;
    text-align: center;
  } 
/* User Profile Visualization */
#user-profile-visualization {
  text-align: center;
  margin-top: 20px;
}

.page-title {
  color: #00ff99;
  font-size: 24px;
  margin-top: 10px;
}

.user-profile {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
}

/* MoneyBot Logo */
#moneybot-logo {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
}

#moneybot-logo img {
  width: 100%;
  height: 100%;
}